<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWXUwEZq7ikhUsvGjLWOQrbKy6fOsYuqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>164290952174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFrontend</string>
	<key>PROJECT_ID</key>
	<string>iconica-dart-baas</string>
	<key>STORAGE_BUCKET</key>
	<string>iconica-dart-baas.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164290952174:ios:cb712ee9fb51694a9e2cff</string>
</dict>
</plist>